@using Csharp_belt.Models
@model Hobby

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/style_form.css">

</head>
<body>
    <div id="container">

    <form asp-action="UpdateHobby" asp-controller="Action">
        <partial name="HobbyPartial" model="Model" />
        <button>Update</button>
    </form>

</div>
</body>
</html>