@using Csharp_belt.Models
@model Hobby

<span asp-validation-for="Name"></span>
<label asp-for="Name"></label>
<input asp-for="Name">
<span asp-validation-for="Description"></span>
<label asp-for="Description"></label>
<input asp-for="Description">