@using Csharp_belt.Models
@model Hobby

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/style_form.css">

</head>
<body>
    <div id="container">

    <header>
        <h1></h1>
        <p><a asp-action="Dashboard" asp-controller="Home">Home</a></p>
        <p><a asp-action="Logout" asp-controller="RegLogin">Logout</a></p>
    </header>

    <form asp-action="CreateHobby" asp-controller="Action">
        <partial name="HobbyPartial" model="Model" />
        <button>Create</button>
    </form>

</div>
</body>
</html>