@using Csharp_belt.Models
@model LoginUser

<span asp-validation-for="Username"></span>
<label asp-for="Username"></label>
<input asp-for="Username">
<span asp-validation-for="UserPassword"></span>
<label asp-for="UserPassword"></label>
<input asp-for="UserPassword">