@using Csharp_belt.Models
@model LoginUser

<span asp-validation-for="LoginUsername"></span>
<label asp-for="LoginUsername"></label>
<input asp-for="LoginUsername">
<span asp-validation-for="LoginPassword"></span>
<label asp-for="LoginPassword"></label>
<input asp-for="LoginPassword">