@using Csharp_belt.Models
@model List<Hobby>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/style_home.css">

</head>

<body>
    <div id="container">

        <header>
            <h1>Hobbies</h1>
        </header>

        <div class="table">

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Enthusiasts</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var hobby in @Model)
                {
                    <tr>
                        <td><a asp-action="Hobby" asp-controller="Home" asp-route-HobbyId="@hobby.HobbyId">@hobby.Name</a></td>
                        <td>@hobby.Hobbyists.Count</td>
                    </tr>
                }
            </tbody>
        </table>

        <a asp-action="NewHobby" asp-controller="Home" method="get"><button>Create a Hobby</button></a>

    </div>

    </div>
</body>

</html>